body {
  font-family: Arial;
  margin: auto;
  width: 50%;
}


@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  body {
    width: 95%;
  }
}
